body {
    padding-top: 100px; /* Adjust according to the navbar height */
}

.navbar {
    background-color: #006400; /* Updated background color */
    color: #FFFFFF; /* Text color */
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the navbar is above other content */
    overflow: visible; /* Allow dropdowns to overflow the navbar */
}

.navbar-brand {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    text-decoration: none;
    color: inherit;
}


.dropdown-menu {
    z-index: 10000; /* Ensure dropdowns appear above navbar */
}