body {
    padding-top: 100px; /* Adjust according to the navbar height */
}
.sidebar {
    position: fixed;
    top: 80px; /* Should match the height of the navbar */
    bottom: 0;
    left: -250px; /* Hide the sidebar by default */
    z-index: 1000;
    width: 250px;
    padding: 20px;
    background-color: #f8f9fa;
    transition: left 0.3s ease;
}
.sidebar.show {
    left: 0;
}