.navbar {
    background-color: white;
} 

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    transition: text-decoration 0.5s ease;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000; /* Ensure the dropdown is above other content */
    animation: fadeIn 0.3s ease-in-out forwards;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Hide the multimedia dropdown menu by default */
#multimediaDropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; 
    min-width: 10rem; 
}

/* Show the multimedia dropdown menu when hovering over the Multimedia link */
.multimedia-dropdown:hover #multimediaDropdown {
    display: block;
}


/* Delay animation for dropdown */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



